html/xml/xbox.dtd

<!ELEMENT consolas (consola)>
<!ELEMENT consola (nombre, company, anyo_jap, anyo_usa, anyo_eu, finprod, ventas, proces, formato)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT company (#PCDATA)>
<!ELEMENT anyo_jap (#PCDATA)>
<!ELEMENT anyo_usa (#PCDATA)>
<!ELEMENT anyo_eu (#PCDATA)>
<!ELEMENT finprod (#PCDATA)>
<!ELEMENT ventas (#PCDATA)>
<!ELEMENT proces (#PCDATA)>
<!ELEMENT formato (#PCDATA)>
